Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

Данные лежат на google диске по [ссылке](https://drive.google.com/file/d/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ/view?usp=sharing).

In [1]:
!wget 'https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ' -O WA_Fn-UseC_-Telco-Customer-Churn.csv

--2023-03-12 21:37:52--  https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ
Resolving drive.google.com (drive.google.com)... 74.125.137.101, 74.125.137.100, 74.125.137.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.137.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/nbh5cq820604q57ntjvfb59p0bn7mmj6/1678657050000/14904333240138417226/*/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ?e=download&uuid=961a2948-2c2a-4830-b9c8-1bdc33df3ff7 [following]
Warning: wildcards not supported in HTTP.
--2023-03-12 21:37:53--  https://doc-08-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/nbh5cq820604q57ntjvfb59p0bn7mmj6/1678657050000/14904333240138417226/*/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ?e=download&uuid=961a2948-2c2a-4830-b9c8-1bdc33df3ff7
Resolving doc-08-c0-docs.googleusercontent.com (doc-08-c0-docs.googleusercontent.com)... 74.125.137.132, 2607:f8b0:4023:c03::84
Connecting to doc-08-c0-docs.googleusercontent.com (doc-08-c0-docs.googleusercontent.com)|74.125.137.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/csv]
Saving to: ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’

WA_Fn-UseC_-Telco-C 100%[===================>] 954.59K  --.-KB/s    in 0.007s

2023-03-12 21:37:53 (128 MB/s) - ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’ saved [977501/977501]

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [4]:
#Ваш код здесь
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

посмотрим ещё соотношение в процентах:

In [5]:
print(f"монсеньёров {(df.loc[df['gender'] == 'Male', 'gender'].count() / df['gender'].shape[0]) *100:.2f} %\n"
      f"мадам {(df.loc[df['gender'] == 'Female', 'gender'].count() / df['gender'].shape[0]) *100:.2f} %")

монсеньёров 50.48 %
мадам 49.52 %

##### 2. Какое количество уникальных значений у поля InternetService?

In [6]:
#Ваш код здесь
print(f"уникальных значений {df['InternetService'].nunique()} и они вот такие:\n")
df['InternetService'].value_counts()

уникальных значений 3 и они вот такие:

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [7]:
#Ваш код здесь
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

**Ответ:** в типе данных, так как он ```object```. Вот информация об этом типе из интернетов:

Тип данных ```object``` в Python относится к нечисловым типам данных и представляет собой общий тип данных, который может содержать любые данные, включая строки, списки, словари, функции и т.д. 

Объекты типа данных ```object``` могут быть созданы как с помощью встроенных функций, так и с помощью пользовательских классов. Например, строковый объект в Python также является объектом типа данных ```object```.

Использование объектов типа данных ```object``` может быть полезным в тех случаях, когда необходимо работать с различными типами данных или когда необходимо создать новый тип данных. Однако, так как объекты типа данных ```object``` могут содержать любые данные, они могут быть менее эффективными по памяти и времени выполнения, чем более специализированные типы данных.

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [8]:
#Ваш код здесь
#было
df['PhoneService'].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [9]:
df['PhoneService'] = (df['PhoneService'] == 'Yes').astype(int)

In [10]:
#стало
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [11]:
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

In [12]:
# перевели во float, обойдя пропуски
df['TotalCharges'] = df['TotalCharges'].apply(lambda x: float(x) if (x and x.strip()) else np.nan)
# измнили на float32
df['TotalCharges'] = df['TotalCharges'].astype(np.float32)
# проверили, убедились, что всё норм
df[['TotalCharges']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TotalCharges  7032 non-null   float32
dtypes: float32(1)
memory usage: 27.6 KB

In [13]:
#заполним пропуски медианой
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)
#проверим
df['TotalCharges'].isna().sum()

0

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [14]:
#Ваш код здесь
#было
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [15]:
df['Churn'] = (df['Churn'] == 'Yes').astype(int)

In [16]:
#стало
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [17]:
#Ваш код здесь
#было
df[['StreamingMovies', 'StreamingTV', 'TechSupport']].value_counts()

StreamingMovies      StreamingTV          TechSupport
No internet service  No internet service  No internet service    1526
No                   No                   No                     1476
Yes                  Yes                  No                      996
                                          Yes                     944
No                   No                   Yes                     542
Yes                  No                   No                      508
No                   Yes                  No                      493
Yes                  No                   Yes                     284
No                   Yes                  Yes                     274
dtype: int64

In [18]:
df[['StreamingMovies', 'StreamingTV', 'TechSupport']] = (
    df[['StreamingMovies', 'StreamingTV', 'TechSupport']]
    .replace({'Yes': 1, 'No': 0, 'No internet service': 0})
)

In [19]:
#стало
df[['StreamingMovies', 'StreamingTV', 'TechSupport']].value_counts()

StreamingMovies  StreamingTV  TechSupport
0                0            0              3002
1                1            0               996
                              1               944
0                0            1               542
1                0            0               508
0                1            0               493
1                0            1               284
0                1            1               274
dtype: int64

##### 8. Заполните пропуски в поле PhoneService значением 0

а где пропуски-то?

In [20]:
#Ваш код здесь
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

In [21]:
df['PhoneService'].isna().sum()

0

##### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [22]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку.

In [23]:
features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target],
                                                    test_size=0.3, 
                                                    shuffle=True,
                                                    random_state=47)

In [24]:
X_train.shape, X_test.shape

((4930, 7), (2113, 7))

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [25]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in self.columns:
            if col_ not in test_columns:
                X[col_] = 0
        return X[self.columns]

In [26]:
#Ваш код здесь
gender = Pipeline([
    ('column_selector', ColumnSelector(key='gender')),
    ('ohe', OHEEncoder(key='gender'))    
])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [27]:
#Ваш код здесь
gender.fit_transform(X_train)

      gender_Female  gender_Male
649               0            1
2371              1            0
84                1            0
5079              0            1
2790              1            0
...             ...          ...
6728              1            0
3336              1            0
6471              0            1
1926              0            1
5255              1            0

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

**Ответ:** ```StandardScaler``` полезен в случаях, когда необходимо нормализовать данные перед их использованием в модели машинного обучения. Например, если у нас есть признаки с разными единицами измерения или разным масштабом значений, то это может привести к тому, что одни признаки будут иметь больший вес при обучении модели, чем другие. ```StandardScaler``` решает эту проблему путем приведения всех признаков к одному масштабу и среднему значению, что позволяет модели более равномерно учитывать все признаки при обучении.

In [28]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [29]:
#Ваш код здесь
TotalCharges =  Pipeline([
    ('selector', NumberSelector(key='TotalCharges')),
    ('standard', StandardScaler())
])

Объединение всех "кубиков" очень легко сделать таким образом

In [30]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [31]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [32]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', RandomForestClassifier(random_state=42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('column_selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [33]:
#Ваш код здесь
preds = pipeline.predict_proba(X_test)
preds

array([[1.  , 0.  ],
       [0.83, 0.17],
       [0.82, 0.18],
       ...,
       [1.  , 0.  ],
       [0.5 , 0.5 ],
       [0.1 , 0.9 ]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc)

In [34]:
from sklearn.metrics import roc_auc_score

#Ваш код здесь
roc_auc = roc_auc_score(y_test, preds[:, 1])
print(roc_auc)

0.7752030043966224

### Сохраним наш пайплайн

In [35]:
!pip install dill

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dill in /usr/local/lib/python3.9/dist-packages (0.3.6)

In [36]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)